@import "header.css";
@import "footer.css";
@import "elements.css";

#topLayout {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 400px  1fr;
    grid-template-areas: 
        "hd hd hd"
        "bd bd bd"
        "ft ft ft";
}

@media (min-width: 600px) {
    #topLayout {
        display: grid;
        grid-template-rows: 100px auto 100px;
        grid-template-columns: 1fr 600px  1fr;
        grid-template-areas: 
            "hd hd hd"
            "bd bd bd"
            "ft ft ft";
    }
}

@media (min-width: 1000px) {
    #topLayout {
        display: grid;
        grid-template-rows: 100px auto 100px;
        grid-template-columns: 1fr 1000px  1fr;
        grid-template-areas: 
            "hd hd hd"
            ". bd ."
            "ft ft ft";
    }
}

#body {
    grid-area: bd;
    padding: 5px;
    text-align: center;
}

#authorImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

p {
    text-align: center;
}

