@import "header.css";
@import "footer.css";
@import "elements.css";

#topLayout{
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "hd"
        "bd"
        "ft";
}

#body {
    grid-area: bd;
    padding: 5px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "b1"
        "b2"
        "b3"
        "b4"
        "b5"
        "b6"
        "b7"
        "b8"
        "b9";
}

@media (min-width: 600px) {
    #body {
        grid-area: bd;
        padding: 5px;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "b1 b2"
            "b3 b4"
            "b5 b6"
            "b7 b8"
            "b9";
    }
}

@media (min-width: 1000px) {
    #body {
        grid-area: bd;
        padding: 5px;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "b1 b2 b3"
            "b4 b5 b6"
            "b7 b8 b9";
    }
}



#blog1Container {
    grid-area: b1
}

#blog2Container {
    grid-area: b2
}

#blog3Container {
    grid-area: b3
}

#blog4Container {
    grid-area: b4
}

.cardContainer {
    padding: 2px 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
    text-align: center;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

p {
    white-space: normal;
}